.container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.MuiOutlinedInput-input {
  padding: 30px 45px;
}

.MuiFormControl-root {
  width: 500px;
}

label + .MuiInput-formControl {
  margin-top: 33px;
  width: 500px;

}
.react-tel-input .form-control {
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;
    width: 500px !important;
    outline: none;
    padding: 35.5px 14px 18.5px 58px !important;
    transition: box-shadow ease .25s, border-color ease .25s;
  }
  
  .react-tel-input .form-control + div:before {
    content: 'Phone' !important;
  }
  
  .studentRegistrationBox {
    -webkit-box-shadow: 4px 4px 5px 1px rgba(87, 83, 87, 0.32);
    -moz-box-shadow: 4px 4px 5px 1px rgba(87, 83, 87, 0.32);
    box-shadow: 4px 4px 5px 1px rgba(87, 83, 87, 0.32);
    padding: 15px;
    margin-top: 15px;
    border: solid rgba(10, 10, 10, 0.3) 2px;
    border-radius: 5px;
  }