.container{
    margin: auto;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: right;
   padding:25px; 
}

.jumbotron{
    background-color:white !important;
    }
p {
        text-align: center;
        }   
    
