.container{
    margin: auto;
    text-align: center;
    display: flex;
   padding:25px; 
}
.jumbotron{
    background-color:white !important;
    }
    /* p {
        text-align: center;
        }    */
    
